<footer class="bg-gray-800 text-white py-4 mt-8 bottom-0 w-full">
    <div class="container mx-auto px-4 text-center">
        <p>&copy; 2025 Inventario</p>
        <a href="https://github.com/NaviStarp" target="_blank" rel="noopener noreferrer" class="inline-block">
            <img src="https://github.com/NaviStarp.png" alt="NaviStarp GitHub Profile" class="w-8 h-8 rounded-full inline-block">
            <span class="ml-2">Iván Prats</span>
        </a>
        <a href="https://github.com/IgnacioDrako" target="_blank" rel="noopener noreferrer" class="inline-block ml-4">
            <img src="https://github.com/IgnacioDrako.png" alt="IgnacioDrako GitHub Profile" class="w-8 h-8 rounded-full inline-block">
            <span class="ml-2">Ignacio Drako</span>
        </a>
    </div>
</footer>
